# ADD ANY IMPORTED REPOs HERE:
# INSTALLATION: cmd: pip install -r requirements.txt

# Common
time
sys
numpy

# objectDetection
ultralytics
opencv-python
    # Required otherwise raspberry pi throws "Illegal Instruction"
torch==1.12.0
torchvision==0.13.0

# Debug
tkinter
keyboard
    